# AIDM7330 Quiz 03

Students' details:
- Name: Luo Yifeng
- Student ID: 20448589

##                                               Python exercises

- 1. Try to harvest the historical weather trend from the Hong Kong Observatory(https://www.hko.gov.hk/en/cis/normal/1981_2010/dnormal10.htm#) 

- 2. For(1), Describe how to harvest all the monthly data from different months and different years?

### Question no.1

In [1]:
from bs4 import BeautifulSoup
import pandas as pd
import requests
import csv

In [2]:
url = 'https://www.hko.gov.hk/en/cis/normal/1981_2010/dnormal10.htm'
source = requests.get(url).text

In [3]:
soup = BeautifulSoup(source, 'lxml')

In [4]:
#print(soup.prettify())

**After carefully observing the webpage code, I found that the webpage contains two tables, and all the contents of these two tables are under the parent node (attribute = table)** 

![a1](./figures/a1.png)

**Because there are two tables in this page, So I used `find_all()` method.To find all the information of the list in a list**

In [5]:
tables = soup.find_all('table')
#tables

**Because `find_all()` method return a list of object.So i need to access each tables value individually.**
**SO here it returns a list of table 

### Get the Table1 in the web page

**And within the `tables[0]`, I find all the rows of the table were in the format like below in the Web Html Page**

![a2](./figures/a2.png)

**with the `attribute = tr` and `style = 'border:1px solid;text-align:center;'` 

**So i used `find_all()`method to get all the rows in table one within a list which is called rows1**

- `rows1` stands for all the rows in the table1
- `tables[0]` stands for the first object in the tables list

In [6]:
rows1 = tables[0].find_all('tr', style = 'border:1px solid;text-align:center;')
#rows1

**Within the rows1 list, I found the Web Html structure like below**
![a3](./figures/a3.png)
**And it shows that for each values in one row, it has a unique `headers` with the `attribute = td` 
**With means for each for loops, i can access the value individually, and return them in a list**

In [7]:
date_list = []                        # date
press_list = []                       # Mean Pressure
tempmax_list = []                     # Air Temperature Mean Maximum(deg.C)
tempmean_list = []                    # Air Temperature Mean(deg.C)
tempmin_list = []                     # Air Temperature Mean Minimum(deg.C)
wet_list = []                         # Wet Bulb(deg.C)
dew_list = []                         # Dew Point(deg. C)
rh_list = []                          # Relative Humidity(%)
rain_list = []                        # Mean Daily Rainfall(mm)
cloud_list = []                       # Amount of Cloud(%)

In [8]:
for row in rows1:
    date = row.find('td', headers='date').text
    press = row.find('td', headers='press').text
    tempmax = row.find('td', headers='temp tmax').text
    tempmean = row.find('td', headers='temp tmean').text
    tempmin = row.find('td', headers='temp tmin').text
    wet = row.find('td', headers='wet').text
    dew = row.find('td', headers='dew').text
    rh = row.find('td', headers='rh').text
    rain = row.find('td', headers='rain').text
    cloud = row.find('td', headers='cloud').text

    
    date_list.append(date)
    press_list.append(press)
    tempmax_list.append(tempmax)
    tempmean_list.append(tempmean)
    tempmin_list.append(tempmin)
    wet_list.append(wet)
    dew_list.append(dew)
    rh_list.append(rh)
    rain_list.append(rain)
    cloud_list.append(cloud)


# print(date_list)
# print(press_list)
# print(tempmax_list)
# print(tempmean_list)
# print(tempmin_list)
# print(wet_list)
# print(dew_list)
# print(rh_list)
# print(rain_list)
# print(cloud_list)

**Create a `dataFrame` to store table1**

In [9]:
table1 = pd.DataFrame({
    'Date': date_list,
    'Mean Pressure': press_list,
    'Air Temperature Mean Maximum(deg.C)': tempmax_list,
    'Air Temperature Mean(deg.C)': tempmean_list,
    'Air Temperature Mean Minimum(deg.C)': tempmin_list,
    'Wet Bulb(deg.C)': wet_list,
    'Dew Point(deg. C)': dew_list,
    'Relative Humidity(%)': rh_list,
    'Mean Daily Rainfall(mm)': rain_list,
    'Amount of Cloud(%)': cloud_list
})

In [10]:
table1

,Date,Mean Pressure,Air Temperature Mean Maximum(deg.C),Air Temperature Mean(deg.C),Air Temperature Mean Minimum(deg.C),Wet Bulb(deg.C),Dew Point(deg. C),Relative Humidity(%),Mean Daily Rainfall(mm),Amount of Cloud(%)
0,1 Oct,1012.0,29.1,26.8,25.1,23.7,22.3,77,6.0,64
1,2 Oct,1012.3,29.1,26.8,25.1,23.7,22.1,76,4.3,63
2,3 Oct,1012.4,29.1,26.8,25.0,23.6,21.9,76,5.8,62
3,4 Oct,1012.5,29.0,26.7,24.9,23.4,21.7,75,6.5,61
4,5 Oct,1012.5,28.9,26.6,24.8,23.2,21.4,74,5.8,60
5,6 Oct,1012.6,28.8,26.5,24.7,23.0,21.2,74,4.6,59
6,7 Oct,1012.8,28.7,26.4,24.5,22.8,20.9,73,4.4,59
7,8 Oct,1013.0,28.6,26.3,24.4,22.7,20.7,73,2.7,57
8,9 Oct,1013.3,28.5,26.3,24.5,22.7,20.8,73,2.3,57
9,10 Oct,1013.5,28.5,26.2,24.5,22.8,20.9,74,2.6,57
10,11 Oct,1013.7,28.4,26.2,24.5,22.8,21.1,74,3.4,58
11,12 Oct,1013.7,28.4,26.1,24.5,22.9,21.3,76,4.4,60
12,13 Oct,1013.8,28.3,26.1,24.4,23.0,21.4,76,5.0,62
13,14 Oct,1013.8,28.2,26.0,24.3,22.8,21.2,76,4.9,62
14,15 Oct,1013.8,28.1,25.9,24.2,22.7,21.0,76,4.9,61
15,16 Oct,1014.0,27.9,25.7,24.1,22.5,20.8,75,4.7,61
16,17 Oct,1014.2,27.8,25.6,23.9,22.3,20.4,74,3.6,60
17,18 Oct,1014.3,27.7,25.5,23.8,22.0,20.1,73,3.0,58
18,19 Oct,1014.4,27.5,25.3,23.6,21.8,19.8,73,3.1,56
19,20 Oct,1014.6,27.3,25.1,23.4,21.7,19.7,73,2.8,55
20,21 Oct,1014.8,27.2,24.9,23.2,21.5,19.4,72,2.5,53
21,22 Oct,1015.0,27.1,24.8,23.0,21.3,19.3,72,2.4,52
22,23 Oct,1015.1,27.0,24.7,22.9,21.2,19.2,72,1.5,53
23,24 Oct,1015.2,26.9,24.6,22.8,21.1,19.0,72,1.3,54
24,25 Oct,1015.3,26.8,24.4,22.7,20.9,18.8,72,1.4,57
25,26 Oct,1015.4,26.6,24.3,22.6,20.9,18.8,72,1.6,58
26,27 Oct,1015.6,26.5,24.2,22.4,20.8,18.7,72,1.7,59
27,28 Oct,1015.8,26.3,24.0,22.2,20.6,18.5,72,2.1,57
28,29 Oct,1016.1,26.2,23.9,22.0,20.4,18.2,72,1.6,54
29,30 Oct,1016.4,26.1,23.7,21.9,20.2,17.9,71,1.4,52
30,31 Oct,1016.7,25.8,23.6,21.7,19.9,17.5,70,1.2,52

**Add the Observed location for each colunms**

In [11]:
obser_list = ['Observed at']
for i in list(range(1,10)):
    obser_list.append('Hong Kong Observatory')

**Use `loc()` method to insert a row**

In [12]:
table1.loc['31'] = obser_list
table1

,Date,Mean Pressure,Air Temperature Mean Maximum(deg.C),Air Temperature Mean(deg.C),Air Temperature Mean Minimum(deg.C),Wet Bulb(deg.C),Dew Point(deg. C),Relative Humidity(%),Mean Daily Rainfall(mm),Amount of Cloud(%)
0,1 Oct,1012.0,29.1,26.8,25.1,23.7,22.3,77,6.0,64
1,2 Oct,1012.3,29.1,26.8,25.1,23.7,22.1,76,4.3,63
2,3 Oct,1012.4,29.1,26.8,25.0,23.6,21.9,76,5.8,62
3,4 Oct,1012.5,29.0,26.7,24.9,23.4,21.7,75,6.5,61
4,5 Oct,1012.5,28.9,26.6,24.8,23.2,21.4,74,5.8,60
5,6 Oct,1012.6,28.8,26.5,24.7,23.0,21.2,74,4.6,59
6,7 Oct,1012.8,28.7,26.4,24.5,22.8,20.9,73,4.4,59
7,8 Oct,1013.0,28.6,26.3,24.4,22.7,20.7,73,2.7,57
8,9 Oct,1013.3,28.5,26.3,24.5,22.7,20.8,73,2.3,57
9,10 Oct,1013.5,28.5,26.2,24.5,22.8,20.9,74,2.6,57
10,11 Oct,1013.7,28.4,26.2,24.5,22.8,21.1,74,3.4,58
11,12 Oct,1013.7,28.4,26.1,24.5,22.9,21.3,76,4.4,60
12,13 Oct,1013.8,28.3,26.1,24.4,23.0,21.4,76,5.0,62
13,14 Oct,1013.8,28.2,26.0,24.3,22.8,21.2,76,4.9,62
14,15 Oct,1013.8,28.1,25.9,24.2,22.7,21.0,76,4.9,61
15,16 Oct,1014.0,27.9,25.7,24.1,22.5,20.8,75,4.7,61
16,17 Oct,1014.2,27.8,25.6,23.9,22.3,20.4,74,3.6,60
17,18 Oct,1014.3,27.7,25.5,23.8,22.0,20.1,73,3.0,58
18,19 Oct,1014.4,27.5,25.3,23.6,21.8,19.8,73,3.1,56
19,20 Oct,1014.6,27.3,25.1,23.4,21.7,19.7,73,2.8,55
20,21 Oct,1014.8,27.2,24.9,23.2,21.5,19.4,72,2.5,53
21,22 Oct,1015.0,27.1,24.8,23.0,21.3,19.3,72,2.4,52
22,23 Oct,1015.1,27.0,24.7,22.9,21.2,19.2,72,1.5,53
23,24 Oct,1015.2,26.9,24.6,22.8,21.1,19.0,72,1.3,54
24,25 Oct,1015.3,26.8,24.4,22.7,20.9,18.8,72,1.4,57
25,26 Oct,1015.4,26.6,24.3,22.6,20.9,18.8,72,1.6,58
26,27 Oct,1015.6,26.5,24.2,22.4,20.8,18.7,72,1.7,59
27,28 Oct,1015.8,26.3,24.0,22.2,20.6,18.5,72,2.1,57
28,29 Oct,1016.1,26.2,23.9,22.0,20.4,18.2,72,1.6,54
29,30 Oct,1016.4,26.1,23.7,21.9,20.2,17.9,71,1.4,52
30,31 Oct,1016.7,25.8,23.6,21.7,19.9,17.5,70,1.2,52
31,Observed at,Hong Kong Observatory,Hong Kong Observatory,Hong Kong Observatory,Hong Kong Observatory,Hong Kong Observatory,Hong Kong Observatory,Hong Kong Observatory,Hong Kong Observatory,Hong Kong Observatory

In [13]:
table1.to_csv('./data/table1.csv') #Save the dateframe as csv file

# Table2

- rows2 stands for a list of rows in the table2
- tables[1] stands for table2

In [14]:
rows2 = tables[1].find_all('tr', style = 'border:1px solid;text-align:center;')
#rows2

In [15]:
sun_list = []
wind2_dd_list = []
wind2_ff_list = []
wind_seatemp_list = []
wind_seatemp2_list = []

In [16]:
for row in rows2:
    sun = row.find('td', headers = 'sun').text
    wind2_dd = row.find('td', headers = 'wind2 dd').text
    wind2_ff = row.find('td', headers = 'wind2 ff').text
    wind_seatemp = row.find('td', headers = 'wind seatemp').text
    wind_seatemp2 = row.find('td', headers = 'wind seatemp2').text
    
    
    
    
    sun_list.append(sun)
    wind2_dd_list.append(wind2_dd)
    wind2_ff_list.append(wind2_ff)
    wind_seatemp_list.append(wind_seatemp)
    wind_seatemp2_list.append(wind_seatemp2)

In [17]:
table2 = pd.DataFrame({
    'Date': date_list,
    'Bright Sunshine Duration(hours)': sun_list,
    'Wind Prevailing Direction(degrees)': wind2_dd_list,
    'Wind Mean Speed(km/h)': wind2_ff_list,
    'Sea Temperature AM(deg. C)': wind_seatemp_list,
    'Sea Temperature PM(deg. C)': wind_seatemp2_list
})

table2

,Date,Bright Sunshine Duration(hours),Wind Prevailing Direction(degrees),Wind Mean Speed(km/h),Sea Temperature AM(deg. C),Sea Temperature PM(deg. C)
0,1 Oct,5.6,080,27,27.1,27.5
1,2 Oct,5.7,080,27,27.1,27.4
2,3 Oct,5.9,080,27,27.1,27.3
3,4 Oct,6.0,080,26,27.0,27.3
4,5 Oct,6.2,080,24,27.0,27.3
5,6 Oct,6.3,090,23,27.0,27.3
6,7 Oct,6.3,090,23,27.0,27.3
7,8 Oct,6.4,090,24,26.9,27.3
8,9 Oct,6.4,080,25,26.9,27.3
9,10 Oct,6.4,080,27,26.8,27.2
10,11 Oct,6.3,080,28,26.8,27.1
11,12 Oct,6.1,080,29,26.7,27.1
12,13 Oct,5.9,080,29,26.7,27.0
13,14 Oct,6.0,080,28,26.6,27.0
14,15 Oct,6.0,080,28,26.6,26.9
15,16 Oct,6.0,080,27,26.5,26.9
16,17 Oct,6.2,080,27,26.5,26.8
17,18 Oct,6.3,080,28,26.4,26.7
18,19 Oct,6.2,080,28,26.3,26.6
19,20 Oct,6.4,080,29,26.2,26.5
20,21 Oct,6.7,080,29,26.1,26.3
21,22 Oct,6.7,080,28,25.9,26.2
22,23 Oct,6.7,080,28,25.8,26.1
23,24 Oct,6.7,080,28,25.7,26.0
24,25 Oct,6.4,080,28,25.6,25.9
25,26 Oct,6.2,080,28,25.5,25.8
26,27 Oct,6.0,080,28,25.5,25.8
27,28 Oct,6.2,080,28,25.4,25.7
28,29 Oct,6.3,080,28,25.3,25.6
29,30 Oct,6.5,080,27,25.2,25.5
30,31 Oct,6.5,080,28,25.1,25.4

In [18]:
obser_list = ['Observed at']

In [19]:
obser_list.append('king\'s park')

for i in list(range(0,2)):
    obser_list.append('Waglan Island')

for i in list(range(0,2)):
    obser_list.append('North Point')

obser_list

['Observed at',
 "king's park",
 'Waglan Island',
 'Waglan Island',
 'North Point',
 'North Point']

In [20]:
table2.loc['31'] = obser_list
table2

,Date,Bright Sunshine Duration(hours),Wind Prevailing Direction(degrees),Wind Mean Speed(km/h),Sea Temperature AM(deg. C),Sea Temperature PM(deg. C)
0,1 Oct,5.6,080,27,27.1,27.5
1,2 Oct,5.7,080,27,27.1,27.4
2,3 Oct,5.9,080,27,27.1,27.3
3,4 Oct,6.0,080,26,27.0,27.3
4,5 Oct,6.2,080,24,27.0,27.3
5,6 Oct,6.3,090,23,27.0,27.3
6,7 Oct,6.3,090,23,27.0,27.3
7,8 Oct,6.4,090,24,26.9,27.3
8,9 Oct,6.4,080,25,26.9,27.3
9,10 Oct,6.4,080,27,26.8,27.2
10,11 Oct,6.3,080,28,26.8,27.1
11,12 Oct,6.1,080,29,26.7,27.1
12,13 Oct,5.9,080,29,26.7,27.0
13,14 Oct,6.0,080,28,26.6,27.0
14,15 Oct,6.0,080,28,26.6,26.9
15,16 Oct,6.0,080,27,26.5,26.9
16,17 Oct,6.2,080,27,26.5,26.8
17,18 Oct,6.3,080,28,26.4,26.7
18,19 Oct,6.2,080,28,26.3,26.6
19,20 Oct,6.4,080,29,26.2,26.5
20,21 Oct,6.7,080,29,26.1,26.3
21,22 Oct,6.7,080,28,25.9,26.2
22,23 Oct,6.7,080,28,25.8,26.1
23,24 Oct,6.7,080,28,25.7,26.0
24,25 Oct,6.4,080,28,25.6,25.9
25,26 Oct,6.2,080,28,25.5,25.8
26,27 Oct,6.0,080,28,25.5,25.8
27,28 Oct,6.2,080,28,25.4,25.7
28,29 Oct,6.3,080,28,25.3,25.6
29,30 Oct,6.5,080,27,25.2,25.5
30,31 Oct,6.5,080,28,25.1,25.4
31,Observed at,king's park,Waglan Island,Waglan Island,North Point,North Point

In [21]:
table2.to_csv('./data/table2.csv')

# combine two tables together

In [22]:
table = pd.merge(table1, table2, on = 'Date')

In [23]:
table

,Date,Mean Pressure,Air Temperature Mean Maximum(deg.C),Air Temperature Mean(deg.C),Air Temperature Mean Minimum(deg.C),Wet Bulb(deg.C),Dew Point(deg. C),Relative Humidity(%),Mean Daily Rainfall(mm),Amount of Cloud(%),Bright Sunshine Duration(hours),Wind Prevailing Direction(degrees),Wind Mean Speed(km/h),Sea Temperature AM(deg. C),Sea Temperature PM(deg. C)
0,1 Oct,1012.0,29.1,26.8,25.1,23.7,22.3,77,6.0,64,5.6,080,27,27.1,27.5
1,2 Oct,1012.3,29.1,26.8,25.1,23.7,22.1,76,4.3,63,5.7,080,27,27.1,27.4
2,3 Oct,1012.4,29.1,26.8,25.0,23.6,21.9,76,5.8,62,5.9,080,27,27.1,27.3
3,4 Oct,1012.5,29.0,26.7,24.9,23.4,21.7,75,6.5,61,6.0,080,26,27.0,27.3
4,5 Oct,1012.5,28.9,26.6,24.8,23.2,21.4,74,5.8,60,6.2,080,24,27.0,27.3
5,6 Oct,1012.6,28.8,26.5,24.7,23.0,21.2,74,4.6,59,6.3,090,23,27.0,27.3
6,7 Oct,1012.8,28.7,26.4,24.5,22.8,20.9,73,4.4,59,6.3,090,23,27.0,27.3
7,8 Oct,1013.0,28.6,26.3,24.4,22.7,20.7,73,2.7,57,6.4,090,24,26.9,27.3
8,9 Oct,1013.3,28.5,26.3,24.5,22.7,20.8,73,2.3,57,6.4,080,25,26.9,27.3
9,10 Oct,1013.5,28.5,26.2,24.5,22.8,20.9,74,2.6,57,6.4,080,27,26.8,27.2
10,11 Oct,1013.7,28.4,26.2,24.5,22.8,21.1,74,3.4,58,6.3,080,28,26.8,27.1
11,12 Oct,1013.7,28.4,26.1,24.5,22.9,21.3,76,4.4,60,6.1,080,29,26.7,27.1
12,13 Oct,1013.8,28.3,26.1,24.4,23.0,21.4,76,5.0,62,5.9,080,29,26.7,27.0
13,14 Oct,1013.8,28.2,26.0,24.3,22.8,21.2,76,4.9,62,6.0,080,28,26.6,27.0
14,15 Oct,1013.8,28.1,25.9,24.2,22.7,21.0,76,4.9,61,6.0,080,28,26.6,26.9
15,16 Oct,1014.0,27.9,25.7,24.1,22.5,20.8,75,4.7,61,6.0,080,27,26.5,26.9
16,17 Oct,1014.2,27.8,25.6,23.9,22.3,20.4,74,3.6,60,6.2,080,27,26.5,26.8
17,18 Oct,1014.3,27.7,25.5,23.8,22.0,20.1,73,3.0,58,6.3,080,28,26.4,26.7
18,19 Oct,1014.4,27.5,25.3,23.6,21.8,19.8,73,3.1,56,6.2,080,28,26.3,26.6
19,20 Oct,1014.6,27.3,25.1,23.4,21.7,19.7,73,2.8,55,6.4,080,29,26.2,26.5
20,21 Oct,1014.8,27.2,24.9,23.2,21.5,19.4,72,2.5,53,6.7,080,29,26.1,26.3
21,22 Oct,1015.0,27.1,24.8,23.0,21.3,19.3,72,2.4,52,6.7,080,28,25.9,26.2
22,23 Oct,1015.1,27.0,24.7,22.9,21.2,19.2,72,1.5,53,6.7,080,28,25.8,26.1
23,24 Oct,1015.2,26.9,24.6,22.8,21.1,19.0,72,1.3,54,6.7,080,28,25.7,26.0
24,25 Oct,1015.3,26.8,24.4,22.7,20.9,18.8,72,1.4,57,6.4,080,28,25.6,25.9
25,26 Oct,1015.4,26.6,24.3,22.6,20.9,18.8,72,1.6,58,6.2,080,28,25.5,25.8
26,27 Oct,1015.6,26.5,24.2,22.4,20.8,18.7,72,1.7,59,6.0,080,28,25.5,25.8
27,28 Oct,1015.8,26.3,24.0,22.2,20.6,18.5,72,2.1,57,6.2,080,28,25.4,25.7
28,29 Oct,1016.1,26.2,23.9,22.0,20.4,18.2,72,1.6,54,6.3,080,28,25.3,25.6
29,30 Oct,1016.4,26.1,23.7,21.9,20.2,17.9,71,1.4,52,6.5,080,27,25.2,25.5
30,31 Oct,1016.7,25.8,23.6,21.7,19.9,17.5,70,1.2,52,6.5,080,28,25.1,25.4
31,Observed at,Hong Kong Observatory,Hong Kong Observatory,Hong Kong Observatory,Hong Kong Observatory,Hong Kong Observatory,Hong Kong Observatory,Hong Kong Observatory,Hong Kong Observatory,Hong Kong Observatory,king's park,Waglan Island,Waglan Island,North Point,North Point

In [24]:
table.to_csv('./data/final_table.csv')